In [1]:
#$conda activate py37
#(py37)$ jupyter notebook

In [2]:
# %config IPCompleter.greedy=True

In [3]:
#press [SHIFT] and [TAB] from within the method parentheses

### intellisense - works perfect!! -> excute in command line windows. : (py37) $ -> works perfect !!
# (py37) $pip3 install jupyter-tabnine
# (py37) $sudo jupyter nbextension install --py jupyter_tabnine

# (py37) $jupyter nbextension enable jupyter_tabnine --py
##### jupyter nbextension enable --py jupyter_tabnine ##instead above line excuted. 

# (py37) $jupyter serverextension enable --py jupyter_tabnine

#--> I installed in (py37) conda env.

# Built-in Data Structures, Functions,

## Data Structures and Sequences

### Tuple
A tuple is a fixed-length, immutable sequence of Python objects. The easiest way to
create one is with a comma-separated sequence of values:

In [4]:
tup = 4, 5, 6
tup

(4, 5, 6)

In [5]:
# When you’re defining tuples in more complicated expressions, it’s often necessary to
# enclose the values in parentheses, as in this example of creating a tuple of tuples:
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

In [6]:
# You can convert any sequence or iterator to a tuple by invoking tuple :
tuple([4, 0, 2]) #list -> tuple by tuple(list_entity)

(4, 0, 2)

In [7]:
tup = tuple('string') #string -> tuple
tup

('s', 't', 'r', 'i', 'n', 'g')

In [8]:
# Elements can be accessed with square brackets [] as with most other sequence types.
tup[0]

's'

In [9]:
# Once the tuple is created it’s not possible to modify which object is stored in each slot:

tup = tuple(['foo', [1, 2], True])
tup[2] = False #TypeError since tuple is immutable

TypeError: 'tuple' object does not support item assignment

In [10]:
# If an object inside a tuple is mutable, such as a list, you can modify it in-place:
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [11]:
# You can concatenate tuples using the + operator to produce longer tuples:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [12]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

#### Unpacking tuples

In [13]:
tup = (4, 5, 6)
a, b, c = tup
b

5

In [14]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

7

Using this functionality you can easily swap variable names, a task which in many
languages might look like:
```
tmp = a
a = b
b = tmp
```
But, in Python, the swap can be done like this:

In [15]:
a, b = 1, 2
print("a: ",a)
print("b: ",b)

a:  1
b:  2

In [16]:
b, a = a, b
print("a: ",a)
print("b: ",b)

a:  2
b:  1

In [17]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for element in seq:
    print(element)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

In [18]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [19]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print(f'a={a}, b={b}, c={c}')

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

####  tuple unpacking with *rest

In [20]:
# special syntax *rest , which is also used in function signatures
# to capture an arbitrarily long list of positional arguments:

values = 1, 2, 3, 4, 5
a, b, *rest = values
print(a, b)
print(*rest)
rest

1 2
3 4 5

[3, 4, 5]

In [21]:
values = 1, 2, 3, 4, 5
a, b, *rrr = values
print(a, b)
print(*rrr)
rrr

1 2
3 4 5

[3, 4, 5]

In [22]:
# As a matter of convention, many Python programmers will use
# the underscore ( _ ) for unwanted variables: *rest -> *_

a, b, *_ = values
print(a,b)
print(*_)
_

1 2
3 4 5

[3, 4, 5]

#### Tuple methods

In [23]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

In [24]:
a?

In [25]:
?a #same as above

Object `a #same as above` not found.

In [26]:
print?

### List
In contrast with tuples, lists are variable-length and their contents can be modified
in-place. You can define them 
* using ```square brackets []``` or
* using the ```list``` type function

In [27]:
a_list = [2, 3, 7, None]
tup = ('foo', 'bar', 'baz')
b_list = list(tup)
b_list

['foo', 'bar', 'baz']

In [28]:
b_list[1] = 'peekaboo'
b_list

['foo', 'peekaboo', 'baz']

In [29]:
gen = range(10)
gen

range(0, 10)

In [30]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### Adding and removing elements

In [31]:
b_list

['foo', 'peekaboo', 'baz']

In [32]:
b_list.append('dwarf')
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [33]:
b_list.insert(1, 'red')
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

#### insert is computationally expensive compared with append ,
If you need to insert elements at both the beginning and end of a sequence, 
* you may wish to explore collections.deque, a double-ended queue, for this purpose.
* ``` .append(2) .appendleft(5) .extend('137') .extendleft('456')```

In [34]:
from collections import deque
>>> d = deque()
>>> d.append(1)
>>> print(d)

deque([1])

In [35]:
>>> d.appendleft(2)
>>> print(d)

deque([2, 1])

In [36]:
d.clear()
print(d)

deque([])

In [37]:
>>> d.extend('1')
>>> print(d)

deque(['1'])

In [38]:
>>> d.extendleft('234')
>>> print(d)

deque(['4', '3', '2', '1'])

In [39]:
>>> d.count('1')

1

In [40]:
>>> d.pop()
>>> print(d)

deque(['4', '3', '2'])

In [41]:
>>> d.popleft()
>>> print(d)

deque(['3', '2'])

In [42]:
>>> d.extend('7896')
>>> print(d)

deque(['3', '2', '7', '8', '9', '6'])

In [43]:
>>> d.remove('2')
>>> print(d)

deque(['3', '7', '8', '9', '6'])

In [44]:
>>> d.reverse()
>>> print(d)

deque(['6', '9', '8', '7', '3'])

In [45]:
>>> d.rotate(3)
>>> print(d)

deque(['8', '7', '3', '6', '9'])

In [46]:
b_list.pop(2)
b_list

['foo', 'red', 'baz', 'dwarf']

In [47]:
b_list.append('foo')
b_list

['foo', 'red', 'baz', 'dwarf', 'foo']

In [48]:
b_list.remove('foo')
b_list

['red', 'baz', 'dwarf', 'foo']

In [49]:
'dwarf' in b_list

True

In [50]:
'dwarf' not in b_list

False

#### Concatenating and combining lists
* ```list concatenation by addition``` is a comparatively expensive operation since
a new list must be created and the objects copied over.
* Using ```extend``` to append elements to an existing list, especially if you are building up a large list, is usually pref‐
erable.

In [51]:
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [52]:
x = [4, None, 'foo']
x.extend([7, 8, (2, 3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

* faster (.extend)
```
everything = []
for chunk in list_of_lists:
    everything.extend(chunk)
```

* slower ( + )
```
everything = []
for chunk in list_of_lists:
    everything = everything + chunk
```

#### Sorting

In [53]:
a = [7, 2, 5, 1, 3]
a.sort()
a

[1, 2, 3, 5, 7]

In [54]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

sorted function, which can produce a sorted copy of a general
sequence.

In [55]:
b1 = [7, 2, 5, 1, 3]
b2 = sorted(b1)
print("b1(not sorted): ", b1)
b2

b1(not sorted):  [7, 2, 5, 1, 3]

[1, 2, 3, 5, 7]

#### Binary search and maintaining a sorted list
(The bisect module functions do not check whether the list is sor‐
ted)
* The built-in ```bisect``` module implements binary search and insertion into a sorted list.
    * ```bisect.bisect``` finds the location where an element should be inserted to keep it sorted,
    * ```bisect.insort``` actually inserts the element into that location:

In [56]:
import bisect
c = [1, 2, 2, 2, 3, 4, 7]
bisect.bisect(c, 0) #find location

0

In [57]:
bisect.bisect(c, 2) #find location

4

In [58]:
c

[1, 2, 2, 2, 3, 4, 7]

In [59]:
bisect.bisect(c, 5)

6

In [60]:
c

[1, 2, 2, 2, 3, 4, 7]

In [61]:
bisect.insort(c, 6) #find location and insert at the location

In [62]:
c

[1, 2, 2, 2, 3, 4, 6, 7]

#### Slicing
* You can select sections of most sequence types by using slice notation, which in its
basic form consists of ```start:stop passed to the indexing operator []: list_name[start:stop] -stop index is not included```

In [63]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5] #last index 5 : not including

[2, 3, 7, 5]

In [64]:
# Slices can also be assigned to with a sequence:
seq[3:4] = [6, 3] #value of index 3-> 7 is updated to 6,3
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [65]:
seq[3] = [9,4]
seq

[7, 2, 3, [9, 4], 3, 5, 6, 0, 1]

In [66]:
seq.remove([9,4])
seq

[7, 2, 3, 3, 5, 6, 0, 1]

In [67]:
 #Remove first occurrence of value.
seq.remove?

In [68]:
seq.remove(3)
seq

[7, 2, 3, 5, 6, 0, 1]

In [69]:
seq.insert(3, 7)
seq

[7, 2, 3, 7, 5, 6, 0, 1]

In [70]:
seq[3:4] = [6,3]
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [71]:
seq[:5]

[7, 2, 3, 6, 3]

In [72]:
seq[3:]

[6, 3, 5, 6, 0, 1]

In [73]:
seq[-4:]

[5, 6, 0, 1]

In [74]:
seq[-6:-2] #-2 not included

[6, 3, 5, 6]

In [75]:
seq[::2]

[7, 3, 3, 6, 1]

In [76]:
seq[::-1]

[1, 0, 6, 5, 3, 6, 3, 2, 7]

In [77]:
# #test
# flag = False
# while not flag:
#     input_msg = input("input text : ")
#     print(input_msg)
#     if input_msg == "stop copying me":
#         print("Fine you win")
#         flag = True

input text : stop copying me
stop copying me
Fine you win

### Built-in Sequence Functions

#### enumerate

In [78]:
i = 0
a_list = []
collection = list(range(10))
for i in range(len(collection)):
   if i % 2 == 0:
    a_list.append(collection[i])
   i += 1
print(a_list)

[0, 2, 4, 6, 8]

In [79]:
i = 0
a_list = []
collection = list(range(10))
for i, value in enumerate(collection):
    if i % 2 == 0:
        a_list.append(value)
    i += 1
print(a_list)

[0, 2, 4, 6, 8]

In [80]:
some_list = ['foo', 'bar', 'baz']
mapping = {}
for i, v in enumerate(some_list):
    mapping[v] = i
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

#### sorted

In [81]:
sorted([7, 1, 2, 6, 0, 3, 2])

[0, 1, 2, 2, 3, 6, 7]

In [82]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

#### zip

In [83]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
zipped = zip(seq1, seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [84]:
seq3 = [False, True]
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [85]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i, a, b))

0: foo, one
1: bar, two
2: baz, three

In [86]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'),
            ('Schilling', 'Curt')]
first_names, last_names = zip(*pitchers) #unzip

In [87]:
first_names

('Nolan', 'Roger', 'Schilling')

In [88]:
last_names

('Ryan', 'Clemens', 'Curt')

#### reversed

In [89]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [90]:
#list complehension - test
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

print(nested_list[0][1]) # 2

print(nested_list[1][-1]) # 6

2
6

In [91]:
print("-----option1----")
for l in nested_list:
    for val in l:
        print(val)
        
print("-----option2-1----")
temp_list = []
[[temp_list.append(val) for val in l] for l in nested_list]
temp_list

-----option1----
1
2
3
4
5
6
7
8
9
-----option2-1----

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [92]:
print("-----option2- recommended---")
print([element for alist in nested_list for element in alist])

-----option2- recommended---
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [93]:
print("-----option3-Not recommended---")
[[print(val) for val in l] for l in nested_list]

-----option3-Not recommended---
1
2
3
4
5
6
7
8
9

[[None, None, None], [None, None, None], [None, None, None]]

In [94]:
print("=============Very important! ===flat list from nested list===========****")
b_nested = [[2, 4, 6, 8], [1, 3, 5, 7, 9]]
print([element for alist in b_nested for element in alist])

=============Very important! ===flat list from nested list===========****
[2, 4, 6, 8, 1, 3, 5, 7, 9]

In [95]:
#As for 3 list elements, each list has 4 elements -> nested list(2-d array)
print("---- [n for n in range(1,5)] for val in range(1,4)---")
board = [[num for num in range(1,5)] for val in range(1,4)]

print(board) # [[1, 2, 3, 4], [1, 2, 3, 4], [1, 2, 3, 4]]

print([["X" if num % 2 != 0 else "O" for num in range(1,4)] for val in range(1,4)])
# [['X', 'O', 'X'], ['X', 'O', 'X'], ['X', 'O', 'X']]

---- [n for n in range(1,5)] for val in range(1,4)---
[[1, 2, 3, 4], [1, 2, 3, 4], [1, 2, 3, 4]]
[['X', 'O', 'X'], ['X', 'O', 'X'], ['X', 'O', 'X']]

### np.array only!!
- ```for a_element, b_element cond in zip(A,B,condition)```
- ``` np.where(condition,A,B)```

In [96]:
import numpy as np
# numpy where
A = np.array([1,2,3,4])
B = np.array([100,200,300,400])
condition = np.array([True,True, False, False])

# slow way
zip(A,B,condition)
#[(1, 100, True), (2, 200, True), (3, 300, False), (4, 400, False)]

In [97]:
for e in zip(A,B,condition):
    print(e)

(1, 100, True)
(2, 200, True)
(3, 300, False)
(4, 400, False)

In [98]:
for a,b,c in zip(A,B,condition):
    print(a,b,c)

1 100 True
2 200 True
3 300 False
4 400 False

In [99]:
#if True -> a_elem (1,2), elif (False) -> b_elem(300, 400)
answer1 = [a_elem if cond else b_elem for a_elem, b_elem, cond in zip(A,B,condition)]
print(answer1)

[1, 2, 300, 400]

In [100]:
## fast way. np.where(condition,A,B) -> True -> A element, False -> B element
print(np.where(condition, A,B))

[  1   2 300 400]

#### flatten nested array

In [101]:
print("---------nested list------------")
# nested_list = [[value for value in range(0, 10)] for l in range(0,10)]
nested_list2= [[num for num in range(0,10)] for val in range(0,10)]
print(nested_list2)

---------nested list------------
[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]]

In [102]:
#flat nested list - option1 
for l in nested_list2:
    for v in l:
        print(v)

0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9

In [103]:
#flat nested list - option2 
[ element for a_list in nested_list2 for element in a_list]

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9]

In [104]:
print("---------intersection of two lists----")
print([val2 for val2 in [1,2,3,4] if val2 in [3,4,5,6]])

print("---------option2 -------")
answer = []
for x in [1,2,3,4]:
    if x in [3,4,5,6]:
        answer.append(x)
print(f"answer: {answer}")

---------intersection of two lists----
[3, 4]
---------option2 -------
answer: [3, 4]

In [105]:
#option1
answer2 = []
for name in ["Elie", "Tim", "Matt"]:
    answer2.append(name[::-1].lower())
answer2

['eile', 'mit', 'ttam']

In [106]:
#option 2
[ name[::-1].lower() for name in ["Elie", "Tim", "Matt"]]

['eile', 'mit', 'ttam']

In [107]:
[char for char in "amazing" if char not in ["a", "e","i","o","u"]]

['m', 'z', 'n', 'g']

In [108]:
print("======= list comprehension: even number from list=====")
print([v for v in range(1, 10) if v % 2 ==0 ])

======= list comprehension: even number from list=====
[2, 4, 6, 8]

### dict

In [109]:
empty_dict = {}
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [110]:
d1[7] = 'an integer' #add new element of dictionary(key of 7, value of 'an integer')
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [111]:
d1['b']

[1, 2, 3, 4]

In [112]:
'b' in d1

True

In [113]:
d1[5] = 'some value'
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [114]:
d1['dummy'] = 'another value'
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [115]:
del d1[5]
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [116]:
ret = d1.pop('dummy')
ret

'another value'

In [117]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [118]:
list(d1.keys())

['a', 'b', 7]

In [119]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [120]:
d1.update({'b' : 'foo', 'c' : 12}) #.update, if not exist -> append 
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

#### Creating dicts from sequences

In [121]:
mapping1 = {}
key_list = list(range(5))
value_list = ['sun','mon','tue','thr','fri']
for key, value in zip(key_list, value_list):
    mapping1[key] = value
mapping1

{0: 'sun', 1: 'mon', 2: 'tue', 3: 'thr', 4: 'fri'}

In [122]:
mapping = dict(zip(range(5), reversed(range(5))))
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

#### Default values

```
if key in some_dict:
    value = some_dict[key]
else:
    value = default_value
```

```value = some_dict.get(key, default_value)```
* get by default will return None if the key is not present, while pop will raise an exception.
* Python dictionary method ``setdefault()`` is similar to get(), but will set ``dict[key]=default`` if key is not already in dict.

In [123]:
dict1 = {'Name': 'Zara', 'Age': 7}
print(f"Value : {dict1.setdefault('Age', None)}")
print(f"Value : {dict1.setdefault('Sex', None)}")

Value : 7
Value : None

In [124]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}
for word in words: # when word -> 'apple'
    letter = word[0] # letter = 'a'
    if letter not in by_letter: # 'a' not in {}, by_letter dict.
        by_letter[letter] = [word] # by_letter['a'] = ['apple'] -> {'a': ['apple']}
    else: #when word -> 'bat' ; letter = 'b'
        by_letter[letter].append(word)# by_letter['b'] = ['bat'] -> {'b': ['bat']}
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

#### Python dictionary method ``setdefault()`` is similar to ``get()``, but will set ``dict[key]=default`` if key is not already in dict.
* ``dict.setdefault(key, default=None)``
* ``by_letter.setdefault(letter, []).append(word)``
    * if key, letter('a') is not in dict(by_letter, {})
    * ``by_letter.setdefault('a', [])`` -> ``[]  ``
        * for key 'a', produce value ``[]``
    * ``by_letter.setdefault('a', []).append('apple')`` -> ``[].append('apple') ``
        * for key 'a', ``[].append('apple') -> ['apple']``

In [125]:
#test
test_dict = {}
test_dict.setdefault('a', [])

[]

In [126]:
#test
test_dict

{'a': []}

In [127]:
#test
test_dict.setdefault('a', []).append('apple')
test_dict

{'a': ['apple']}

In [128]:
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)
by_letter

{'a': ['apple', 'atom', 'apple', 'atom'],
 'b': ['bat', 'bar', 'book', 'bat', 'bar', 'book']}

In [129]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}
for word in words: 
    letter = word[0] 
    by_letter.setdefault(letter, []).append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

#### The built-in collections module has a useful class, defaultdict
#### defaultdict -> my_dict[key].append(value)
To create one, you pass a type or function for generating the default value
for each slot in the dict:

In [130]:
#defaultdict -> my_dict[key].append(value)
from collections import defaultdict
by_letter = defaultdict(list) #pass type or function 
for word in words:
    by_letter[word[0]].append(word)
by_letter

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

In [131]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}
from collections import defaultdict
by_letter = defaultdict(list) 
for word in words: 
    by_letter[word[0]].append(word)
print(f"- type :{type(by_letter)}")
print(by_letter)

- type :<class 'collections.defaultdict'>
defaultdict(<class 'list'>, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

In [132]:
testdict={}
from collections import defaultdict
testdict = defaultdict(list)
testdict['a'].append(['c','d'])
testdict

defaultdict(list, {'a': [['c', 'd']]})

In [133]:
t_dict = {}
from collections import defaultdict
t_dict = defaultdict(list)
t_dict['a'].append('k')
t_dict

defaultdict(list, {'a': ['k']})

In [134]:
t2_dict = {}
from collections import defaultdict
t2_dict = defaultdict(tuple)
t2_dict['a']='k' #tuple has no method append
t2_dict

defaultdict(tuple, {'a': 'k'})

#### Valid dict key types : 
You can check whether an object is hashable (can be used as a key in a dict) with the hash
function:
* While the values of a dict can be any Python object, the keys generally have to be
immutable objects like scalar types (int, float, string) or tuples (all the objects in the
tuple need to be immutable, too).

In [135]:
hash('string')

-266128279537219846

In [136]:
hash((1, 2, (2, 3)))

1097636502276347782

In [137]:
hash((1, 2, [2, 3])) # fails because lists are mutable -> can't be key for dictionary

TypeError: unhashable type: 'list'

In [138]:
d = {}
d[tuple([1, 2, 3])] = 5
d

{(1, 2, 3): 5}

### set
* A set is an unordered collection of unique elements. You can think of them like dicts,
but keys only, no values. 
* A set can be created in two ways: via the set function or via
a set literal with curly braces:

In [139]:
#set function 
set([2, 2, 2, 1, 3, 3])

{1, 2, 3}

In [140]:
# {}
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [141]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

In [142]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [143]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [144]:
a.intersection(b)

{3, 4, 5}

In [145]:
a & b

{3, 4, 5}

In [146]:
c = a.copy()
c

{1, 2, 3, 4, 5}

In [147]:
c |= b #c.update(b) c |= b
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [148]:
d = a.copy() 
d

{1, 2, 3, 4, 5}

In [149]:
b

{3, 4, 5, 6, 7, 8}

In [150]:
# Set the contents of d to be the intersection of the elements in d and b
d &= b #d.intersection_update(b) d &= b
d

{3, 4, 5}

![python data type_mutable, immutable](python_data_type.png)

* Immutable Objects : These are of in-built types like int, float, bool, string, unicode, ``tuple``. In simple words, an immutable object can’t be changed after it is created.
    * Exception : ``tup = ([3, 4, 5], 'myname')`` -The tuple itself isn’t mutable but contain items that are mutable.
* Mutable Objects : These are of type list, dict, set . Custom classes are generally mutable

In [151]:
# Like dicts, set elements generally must be immutable. To have list-like elements, 
# you must convert it to a tuple:

my_data = [1, 2, 3, 4]
my_set = {tuple(my_data)} #set(tuple(list)), {tuple(list)}
my_set

{(1, 2, 3, 4)}

In [152]:
a_set = {1, 2, 3, 4, 5}
{1, 2, 3}.issubset(a_set)

True

In [153]:
a_set.issuperset({1, 2, 3})

True

In [154]:
{1, 2, 3} == {3, 2, 1}

True

### Python set operations
```
a.add(x)
a.clear()

a.remove(x)
a.pop()

a.union(b) a | b
a.update(b) a |= b

a.intersection(b) a & b
a.intersection_update(b) a &= b

a.difference(b) a - b
a.difference_update(b) a -= b
a.symmetric_difference(b) a ^ b
a.symmetric_difference_update(b) a ^= b

a.issubset(b)
a.issuperset(b)
a.isdisjoint(b)
```

### List, Set, and Dict Comprehensions

``[expr for val in collection if condition]``

```
result = []
for val in collection:
    if condition:
        result.append(expr)
```

In [155]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

``
dict_comp = {key-expr : value-expr for value in collection
if condition}
``

``
set_comp = {expr for value in collection if condition}
``

In [156]:
#set complehension1
unique_lengths = {len(x) for x in strings} #set : duplicated element just show once. 
unique_lengths

{1, 2, 3, 4, 6}

In [157]:
#set complehension2
set(map(len, strings))

{1, 2, 3, 4, 6}

In [158]:
#dictionary complehension2
loc_mapping = {val : index for index, val in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

#### Nested list comprehensions

In [159]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],
            ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

In [160]:
names_of_interest = []
for names in all_data:
    enough_es = [name for name in names if name.count('e') >= 2]
    print("* enough_es: ",enough_es )
    names_of_interest.extend(enough_es)
    print("names_of_interest : ",names_of_interest)
    print("----------------------------")

* enough_es:  ['Steven']
names_of_interest :  ['Steven']
----------------------------
* enough_es:  []
names_of_interest :  ['Steven']
----------------------------

In [161]:
names_of_interest = []
for names in all_data:
    enough_es = [name for name in names if name.lower().count('e') >= 1]
#     enough_es = [name for name in names if name.count('e') >= 1]    
    print("* enough_es: ",enough_es )
    names_of_interest.extend(enough_es)
    print("names_of_interest : ",names_of_interest)
    print("----------------------------")

* enough_es:  ['Emily', 'Michael', 'Steven']
names_of_interest :  ['Emily', 'Michael', 'Steven']
----------------------------
* enough_es:  ['Javier']
names_of_interest :  ['Emily', 'Michael', 'Steven', 'Javier']
----------------------------

In [162]:
result = [name for names in all_data for name in names
          if name.count('e') >= 2]
result

['Steven']

In [163]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [164]:
flattened = []

for tup in some_tuples:
    for x in tup:
        flattened.append(x)
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [165]:
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [166]:
[[element for element in range(4)] for x in range(3)]

[[0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3]]

In [167]:
import numpy as np
my_nparray = np.arange(12).reshape(3,4)
my_nparray

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [168]:
[[element for element in x] for x in my_nparray]

[[0, 1, 2, 3], [4, 5, 6, 7], [8, 9, 10, 11]]

## Functions
* As a rule of thumb, if you anticipate needing to repeat the same or
very similar code more than once, it may be worth writing a reusable function.
* Functions can also help make your code more readable by giving a name to a group of
Python statements.

In [169]:
def my_function(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

In [170]:
my_function(5, 6, z=0.7)

0.06363636363636363

In [171]:
my_function(3.14, 7, 3.5)

35.49

In [172]:
my_function(10, 20)

45.0

### Namespaces, Scope, and Local Functions

In [173]:
# variables that are assigned within a function by default are assigned to the local
# namespace.
def func():
    a = []
    for i in range(5):
        a.append(i)
func()
a

{1, 2, 3, 4, 5}

In [174]:
# Assigning variables outside of the function’s scope is possible But...
a = []
def func():
    for i in range(5):
        a.append(i)
func()

In [175]:
# Assigning variables outside of the function’s scope is possible, but those variables
# must be declared as global via the global keyword:
a = None
def bind_a_variable():
    global a
    a = []
bind_a_variable()
print(a)

[]

#### discourage use of the global keyword.
If you find yourself using a lot of global variable, it may indicate a need for object-
oriented programming (using classes).

### Returning Multiple Values

In [176]:
# function is actually just returning one object,namely a tuple, 
# which is then being unpacked into the result variables.
def f():
    a = 5
    b = 6
    c = 7
    return a, b, c

a, b, c = f()
print(a, b, c)

5 6 7

In [177]:
return_value = f() #tuple
return_value

(5, 6, 7)

In [178]:
# return a dict
def f():
    a = 5
    b = 6
    c = 7
    return {'a' : a, 'b' : b, 'c' : c}
f()

{'a': 5, 'b': 6, 'c': 7}

### Functions Are Objects

1. data cleaning and
needed to apply a bunch of transformations to the following list of strings:

In [179]:
states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'West virginia?']

In [180]:
import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]', '', value)
        value = value.title()
        result.append(value)
    return result

In [181]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

2. make a list of the operations
you want to apply to a particular set of strings:

str. strip([chars])

chars - Optional. String specifying the set of characters to be removed. If omitted or None, the chars argument defaults to removing whitespace. The chars argument is not a prefix; rather, all combinations of its values are stripped.

In [182]:
'   spacious   '.strip()

'spacious'

In [183]:
"AABAA".strip("A")

'B'

In [184]:
"ABBA".strip("AB")

''

In [185]:
"ABCABBA".strip("AB")

'C'

In [186]:
#str.strip() test
str.strip("  Amazon")

'Amazon'

In [187]:
#str.title test
str.title(" #thT ")

' #Tht '

In [188]:
######## end of test str.strip(...)#######

In [189]:
def remove_punctuation(value):
    return re.sub('[!#?]', '', value)

In [190]:
 #set of operations
clean_ops = [str.strip, remove_punctuation, str.title]

In [191]:
def clean_strings(strings, ops): #(states, [str.strip, remove_punctuation, str.title])
    result = []
    for value in strings: 
        print("===== value :",value)
        for function in ops:
            print("function : ",function)
            value = function(value)
            print("-value after function:",value)
            print("---------------")
        result.append(value)
        print(result)
        print("====================")
    return result

A more functional pattern like this(def clean_strings) enables you to easily modify how the strings are
transformed at a very high level. The clean_strings function is also now more reus‐
able and generic.

In [192]:
clean_strings(states, clean_ops) #clean_ops -> set of operations

===== value :    Alabama
function :  <method 'strip' of 'str' objects>
-value after function: Alabama
---------------
function :  <function remove_punctuation at 0x7f59a0be6200>
-value after function: Alabama
---------------
function :  <method 'title' of 'str' objects>
-value after function: Alabama
---------------
['Alabama']
====================
===== value : Georgia!
function :  <method 'strip' of 'str' objects>
-value after function: Georgia!
---------------
function :  <function remove_punctuation at 0x7f59a0be6200>
-value after function: Georgia
---------------
function :  <method 'title' of 'str' objects>
-value after function: Georgia
---------------
['Alabama', 'Georgia']
====================
===== value : Georgia
function :  <method 'strip' of 'str' objects>
-value after function: Georgia
---------------
function :  <function remove_punctuation at 0x7f59a0be6200>
-value after function: Georgia
---------------
function :  <method 'title' of 'str' objects>
-value after function: Georgia
---------------
['Alabama', 'Georgia', 'Georgia']
====================
===== value : georgia
function :  <method 'strip' of 'str' objects>
-value after function: georgia
---------------
function :  <function remove_punctuation at 0x7f59a0be6200>
-value after function: georgia
---------------
function :  <method 'title' of 'str' objects>
-value after function: Georgia
---------------
['Alabama', 'Georgia', 'Georgia', 'Georgia']
====================
===== value : FlOrIda
function :  <method 'strip' of 'str' objects>
-value after function: FlOrIda
---------------
function :  <function remove_punctuation at 0x7f59a0be6200>
-value after function: FlOrIda
---------------
function :  <method 'title' of 'str' objects>
-value after function: Florida
---------------
['Alabama', 'Georgia', 'Georgia', 'Georgia', 'Florida']
====================
===== value : south   carolina##
function :  <method 'strip' of 'str' objects>
-value after function: south   carolina##
---------------
function :  <function remove_punctuation at 0x7f59a0be6200>
-value after function: south   carolina
---------------
function :  <method 'title' of 'str' objects>
-value after function: South   Carolina
---------------
['Alabama', 'Georgia', 'Georgia', 'Georgia', 'Florida', 'South   Carolina']
====================
===== value : West virginia?
function :  <method 'strip' of 'str' objects>
-value after function: West virginia?
---------------
function :  <function remove_punctuation at 0x7f59a0be6200>
-value after function: West virginia
---------------
function :  <method 'title' of 'str' objects>
-value after function: West Virginia
---------------
['Alabama', 'Georgia', 'Georgia', 'Georgia', 'Florida', 'South   Carolina', 'West Virginia']
====================

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [193]:
for x in map(remove_punctuation, states):
    print(x)

   Alabama
Georgia
Georgia
georgia
FlOrIda
south   carolina
West virginia

### Anonymous (Lambda) Functions

1. convert named function to anonymous ( Lambda ) function.

In [194]:
def short_function(x):
    return x * 2

In [195]:
lambda_short_function = lambda x: x * 2

2. f is lambda

In [196]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

In [197]:
ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x * 2)

[8, 0, 2, 10, 12]

3.

In [198]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']

In [199]:
strings.sort(key=lambda x: len(set(list(x))))
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

In [200]:
#test 
list('foo')

['f', 'o', 'o']

In [201]:
set(list('foo'))

{'f', 'o'}

In [202]:
len(set(list('foo')))

2

In [203]:
[{len(set(list(x))) : x} for x in strings]

[{1: 'aaaa'}, {2: 'foo'}, {2: 'abab'}, {3: 'bar'}, {4: 'card'}]

### Currying: Partial Argument Application
* deriving new functions from existing ones by partial argument application
* Using this function(add_numbers(x, y)), we could derive a new function of one variable, add_five , that
adds 5 to its argument:

In [204]:
def add_numbers(x, y):
    return x + y

In [205]:
add_five = lambda y: add_numbers(5, y)

In [206]:
from functools import partial
add_five = partial(add_numbers, 5)

### Generators
* Whereas normal functions execute and return a single result at a time, generators return a sequence of
multiple results lazily, pausing after each one until the next one is requested. To create
a generator, use the yield keyword instead of return in a function:

In [207]:
some_dict = {'a': 1, 'b': 2, 'c': 3}
for key in some_dict:
    print(key)

a
b
c

In [208]:
dict_iterator = iter(some_dict)
dict_iterator

In [209]:
list(dict_iterator)

['a', 'b', 'c']

In [210]:
def squares(n=10):
    print('Generating squares from 1 to {0}'.format(n ** 2))
    for i in range(1, n + 1):
        yield i ** 2

In [211]:
gen = squares()
gen

In [212]:
for x in gen:
    print(x, end=' ')

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

In [215]:
from functools import wraps
# wraps preserves a function's metadata
# when it is decorated
from time import time

def speed_test(fn):
    @wraps(fn)
    def wrapper(*args, **kwargs):
        start = time()
        result = fn(*args, **kwargs)
        end = time()
        print("------------------------------------")
        print(f"function name is {fn.__name__}")
        print(f"this is for {fn.__doc__}")
        print(f"total time elapsed is {end - start}")
        # print(f" the result of function excution is {result}")
        return f"the result of function excution is {result}"
    return wrapper

@speed_test
def sum_num_gen():
    ''' generator sum '''
    return sum( x for x in range(90000000))

@speed_test
def sum_num_list():
    ''' list sum '''
    return sum([x for x in range(90000000)])
print(sum_num_gen())
print(sum_num_list())

------------------------------------
function name is sum_num_gen
this is for  generator sum
total time elapsed is 3.533768892288208
the result of function excution is 4049999955000000
------------------------------------
function name is sum_num_list
this is for  list sum
total time elapsed is 4.318552255630493
the result of function excution is 4049999955000000

#### Generator expresssions : use  ( ) instead of [  ]
* generator analogue to list, dict, and set comprehensions

In [216]:
gen = (x ** 2 for x in range(100))
gen

In [217]:
def _make_gen():
    for x in range(100):
        yield x ** 2
gen = _make_gen()
gen

Generator expressions can be used instead of list comprehensions as function argu‐
ments in many cases:
* ``(dict([(i, i**2)]) for i in range(5))``
* ``({i: i**2} for i in range(5))``

In [218]:
sum(x ** 2 for x in range(100))

328350

In [231]:
gen_22 = ( dict([(i,i**2)]) for i in range(5) ) #since I used dict somewhere else -> TypeError: 'dict' object is not callable
gen_22

In [229]:
list(gen_22)

[{0: 0}, {1: 1}, {2: 4}, {3: 9}, {4: 16}]

In [232]:
gen_33 = ( {i : i**2} for i in range(5))
gen_33

In [233]:
list(gen_33)

[{0: 0}, {1: 1}, {2: 4}, {3: 9}, {4: 16}]

In [234]:
#test: dict([{key, value}])
dict_test0 = dict([(1, 'Geeks')]) 
dict_test0

{1: 'Geeks'}

In [235]:
Dict = {} 
print("Empty Dictionary: ") 
print(Dict)

Empty Dictionary:
{}

In [236]:
Dict = dict([(1, 'Geeks'), (2, 'For')]) 
Dict

{1: 'Geeks', 2: 'For'}

In [237]:
#test dictionary comprehension
dict1 = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
# Double each value in the dictionary
double_dict1 = {k:v*2 for (k,v) in dict1.items()}
print(double_dict1)

{'a': 2, 'b': 4, 'c': 6, 'd': 8, 'e': 10}

#### itertools module
* groupby takes any sequence and a function,
grouping consecutive elements in the sequence by return value of the function.
* itertools.groupby grouping the iterating sequences as a generator, names by first_letter

In [1]:
import itertools
first_letter = lambda x: x[0]
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']
for letter_key, names_generator in itertools.groupby(names, first_letter): #groupby grouping names as generator by first_letter 
    print(letter_key, list(names_generator)) # names_generator is a generator

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

### itertools functions
* combination(iterable, k)
* premutation(iterable, k)
* groupby(iterable[, keyfunc])
* product(*iterables, repeat=1)

### Errors and Exception Handling

float function is capable of casting a string
to a floating-point number, but fails with ValueError on improper inputs:

In [243]:
float('1.2345')

1.2345

In [2]:
float('something') #ValueError: could not convert string to float: 'something'

ValueError: could not convert string to float: 'something'

### try except block:
Suppose we wanted a version of float that fails gracefully, returning the input argument. We can do this by writing a function that encloses the call to float in a try /
except block:

In [31]:
#The code in the except part of the block will only be executed 
# if float(x) raises an exception:

def attempt_float(x):
    try:
        return float(x) # when float(x) raises an exception excute except: block
    except:
        return f"float conversion failed for input : {x}"

In [32]:
attempt_float('1.2345')

1.2345

In [33]:
attempt_float('something') #try: float(x)-> Error happend such as ValueError->  excute except: return 'something'

'float conversion failed for input : something'

In [35]:
attempt_float((1, 2)) #input type error: TypeError

'float conversion failed for input : (1, 2)'

####  When float can raise exceptions other than ValueError -> In case of TypeError

In [36]:
float((1, 2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [38]:
def attempt_float1(x):
    try:
        return float(x)
    except ValueError: #You might want to only suppress ValueError -> In case of input type Error, rase TypeError 
        return f"float conversion failed for input : {x}"

In [39]:
attempt_float1((1, 2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [40]:
def attempt_float2(x):
    try:
        return float(x)
    except (TypeError, ValueError): #either an exception(ValueError) raised by float or TypeError caused by input type
        return f"float conversion failed for input : {x}"

In [41]:
attempt_float2((1, 2))

'float conversion failed for input : (1, 2)'

#### finally
In some cases, you may not want to suppress an exception, but you want some code
to be executed regardless of whether the code in the try block succeeds or not. To do
this, use finally :

In [80]:
file = open('testfile.txt','w') 
 
file.write('Hello World') 
file.write('This is our new text file') 
file.write('and this is another line.') 
file.write('Why? Because we can.') 
 
file.close()

In [81]:
with open('testfile.txt','r') as file:
    text = file.read()
    print(text)

Hello WorldThis is our new text fileand this is another line.Why? Because we can.

In [85]:
def write_to_file(file):
    file.write('Hello World') 
    file.write('This is our new text file')
    
f = open('/media/ys/hdd2/myproject/Data-Science_book/pythonfordataanalysis_src/test_finally.txt', 'w')
try:
    write_to_file(f)
finally:
    f.close()

In [86]:
with open('test_finally.txt','r') as file:
    text = file.read()
    print(text)

Hello WorldThis is our new text file

In [87]:
f = open('/media/ys/hdd2/myproject/Data-Science_book/pythonfordataanalysis_src/test_finally.txt', 'w')

try:
    write_to_file(f)
except:
    print('Failed')
else:
    print('Succeeded')
finally:
    f.close()

Succeeded

* ``with open('filename', 'w'|'r') as file:``

In [59]:
# To write to a file, first open it in "w" mode
with open("test305.txt", "w") as file:
    file.write("Here's one more haiku\n")
    file.write("What about the older one?\n")
    file.write("Let's go check it out")

# You can also write to files that don't yet exist
with open("test305lol.txt", "w") as file:
    file.write("haha he ho! \n" * 100)

In [66]:
#test
test_line = " This is test line ! \n And secnod line ! \n"
test_line.split()

['This', 'is', 'test', 'line', '!', 'And', 'secnod', 'line', '!']

In [67]:
test_line.split(" ")

['',
 'This',
 'is',
 'test',
 'line',
 '!',
 '\n',
 'And',
 'secnod',
 'line',
 '!',
 '\n']

### option 1 : not recommended
* Remove leading and ending spaces,
    * strip(): returns a new string after removing any leading and trailing whitespaces including tabs (\t).
    * rstrip(): returns a new string with trailing whitespace removed. It’s easier to remember as removing white spaces from “right” side of the string.
    * lstrip(): returns a new string with leading whitespace removed, or removing whitespaces from the “left” side of the string.
* ``str.strip()`` : To remove only spaces use str.replace:(remove all space )

* ``sentence = line.replace(' ', '')``

### option 2 -> Preferred !
----------------------------------------------------------------------------
word list in line -> number of word
* ``split = line.split(" ") #word list`` or `` line.split() #``

To remove all whitespace characters (space, tab, newline, and so on) you can use split then join: -> num ber of character
* line.split() -> every character in line
* ``sentence = ''.join(line.split()) ``

In [69]:
def statistics(file_name):    
    with open(file_name, "r") as file:
        readlinesfile = file.readlines()
        # num_line = (sum[1 for i in range(0, len(num_line)])
        # line = (sum[1 for i in range(0, len(num_line)])
        num_line = 0
        num_word = 0
        num_char = 0
        word_list = []
        for line in readlinesfile:
            num_line +=1
#             split = line.split(" ") #word list including " " and "\n"
            split = line.split() #word list not including " " and "\n"
            for word in split: #each word, count & sum
                word_list.append(word)
                num_char += len(''.join(word.split())) 
                num_word += 1

        return {"lines":num_line, "words":num_word, "chars": num_char}

In [70]:
print(statistics("test305.txt"))
print(statistics("test305lol.txt"))
print(statistics("test305my.txt"))

{'lines': 3, 'words': 14, 'chars': 56}
{'lines': 100, 'words': 300, 'chars': 900}
{'lines': 1, 'words': 11, 'chars': 33}

In [73]:
def statistics1(file_name):  #lec ver
    with open(file_name) as file:
        lines = file.readlines()
 
    return { "lines": len(lines),
#              "words": sum(len(line.split(" ")) for line in lines),
             "words": sum(len(line.split()) for line in lines),
            
            #  "characters": sum(len(line) for line in lines) } # incl blank
             "characters": sum(len(''.join(line.split())) for line in lines) }


print(statistics1("test305.txt"))
print(statistics1("test305lol.txt"))
print(statistics1("test305my.txt"))

{'lines': 3, 'words': 14, 'characters': 56}
{'lines': 100, 'words': 300, 'characters': 900}
{'lines': 1, 'words': 11, 'characters': 33}

In [74]:
'''
copy('story.txt', 'story_copy.txt') # None
# expect the contents of story.txt and story_copy.txt to be the same
'''

def copy(file_name, new_file_name): 
    with open(file_name, "r") as file: 
        text = file.read()

    with open(new_file_name, "w") as file: 
        file.write(text)

In [64]:
copy("test305lol.txt", "test305lol_new.txt")

In [65]:
print(statistics1("test305lol.txt"))
print(statistics1("test305lol_new.txt"))

{'lines': 100, 'words': 400, 'characters': 900}
{'lines': 100, 'words': 400, 'characters': 900}

In [75]:
'''
find_and_replace('story.txt', 'Alice', 'Colt') 
# story.txt now contains the first chapter of my new book,
# Colt's Adventures in Wonderland
'''
# Python file method seek() sets the file's current position 
# at the offset. The whence argument is optional and defaults to
# 0, which means absolute file positioning, other values are 
# 1  which means seek relative to the current position and 
# 2 means seek relative to the file's end.

def find_and_replace(file_name, origin, replaced):
    with open(file_name, "r+") as file: #'r+' => read and update
        text = file.read() 
        new_text = text.replace(origin, replaced)
        file.seek(0)
        file.write(new_text)
        file.truncate()

# find_and_replace('test305.txt', 'Here', 'There') # Once excuted, no need to excute again.

In [76]:
with open('test305.txt', 'r') as file:
    text = file.read()
    print(text)

There's one more haiku
What about the older one?
Let's go check it out

#### Exceptions in IPython
*If an exception is raised while you are %run a script or executing any statement,
IPython will by default print a full call stack trace (traceback) with 
a few lines of context around the position at each point in the stack:

In [88]:
%run examples/ipython_bug.py

AssertionError:

## Files and the Operating System

**pushd** adds a directory to the top of the stack and **popd** removes a directory from the top of the stack.
* pushd and popd work according to the “LIFO” (last in, first out) principle. In this principle, only two operations are allowed: push an item into the stack, and pop an item out of the stack.

To display directories in the directory stack (or history), we can use the dirs command as shown.

*pushd command – puts/adds directory paths onto a directory stack (history) and later allowing you to navigate back to any directory in history. While you add directories to the stack, it also echoes what’s existing in history (or “stack”).
[pushd popd](https://www.tecmint.com/pushd-and-popd-linux-filesystem-navigation/)

In [108]:
# %dirs

['/media/ys/hdd2/.Trash-1000/files/ch03',
 '/media/ys/hdd2/myproject/Data-Science_book/pythonfordataanalysis_src/ch03',
 '/media/ys/hdd2/myproject/Data-Science_book/pythonfordataanalysis_src/ch03',
 '/media/ys/hdd2/myproject/Data-Science_book/pythonfordataanalysis_src',
 '/media/ys/hdd2/myproject/Data-Science_book/pythonfordataanalysis_src']

In [113]:
# %popd
# %popd
# %popd

[Errno 2] No such file or directory: '/media/ys/hdd2/myproject/Data-Science_book/pythonfordataanalysis_src/ch03'
/media/ys/hdd2/myproject/Data-Science_book/pythonfordataanalysis_src/ch03
popd -> /media/ys/hdd2/myproject/Data-Science_book/pythonfordataanalysis_src/ch03
[Errno 2] No such file or directory: '/media/ys/hdd2/myproject/Data-Science_book/pythonfordataanalysis_src/ch03'
/media/ys/hdd2/myproject/Data-Science_book/pythonfordataanalysis_src/ch03
popd -> /media/ys/hdd2/myproject/Data-Science_book/pythonfordataanalysis_src/ch03
/media/ys/hdd2/myproject/Data-Science_book/pythonfordataanalysis_src
popd -> /media/ys/hdd2/myproject/Data-Science_book/pythonfordataanalysis_src

In [114]:
# %dirs

['/media/ys/hdd2/myproject/Data-Science_book/pythonfordataanalysis_src']

In [115]:
# %popd
# %dirs #[]

/media/ys/hdd2/myproject/Data-Science_book/pythonfordataanalysis_src
popd -> /media/ys/hdd2/myproject/Data-Science_book/pythonfordataanalysis_src

[]

In [ ]:
################ popd start again ############

By default, the file is opened in read-only mode 'r' . We can then treat the file handle
f like a list and iterate over the lines like so:

In [123]:
path = 'examples/segismundo.txt'
f = open(path)

In [124]:
line_list = []
for line in f:
    line_list.append(line.rstrip()) #remove right whitespace
print(line_list)

['Sueña el rico en su riqueza,', 'que más cuidados le ofrece;', '', 'sueña el pobre que padece', 'su miseria y su pobreza;', '', 'sueña el que a medrar empieza,', 'sueña el que afana y pretende,', 'sueña el que agravia y ofende,', '', 'y en el mundo, en conclusión,', 'todos sueñan lo que son,', 'aunque ninguno lo entiende.', '']

In [125]:
lines = [x.rstrip() for x in open(path)] # file.readlines()
lines

['Sueña el rico en su riqueza,',
 'que más cuidados le ofrece;',
 '',
 'sueña el pobre que padece',
 'su miseria y su pobreza;',
 '',
 'sueña el que a medrar empieza,',
 'sueña el que afana y pretende,',
 'sueña el que agravia y ofende,',
 '',
 'y en el mundo, en conclusión,',
 'todos sueñan lo que son,',
 'aunque ninguno lo entiende.',
 '']

In [126]:
f.close()

In [127]:
with open(path) as f: #default is 'r'
    lines = [x.rstrip() for x in f]
len(lines)

14

In [152]:
with open(path, 'r') as file:   
#     lines = file.readline() #readline() - read just one line
    lines = file.readlines() #readlines() - read all lines  
    print(len(lines))
    print(lines)
    print("--------words---------------")
    words  = [len(line.split()) for line in lines]
    print(words)
    print(sum(words))
    print("----------characters------------")
    chars = [len(''.join(line.split())) for line in lines]
    print(chars)
    print(sum(chars))

14
['Sueña el rico en su riqueza,\n', 'que más cuidados le ofrece;\n', '\n', 'sueña el pobre que padece\n', 'su miseria y su pobreza;\n', '\n', 'sueña el que a medrar empieza,\n', 'sueña el que afana y pretende,\n', 'sueña el que agravia y ofende,\n', '\n', 'y en el mundo, en conclusión,\n', 'todos sueñan lo que son,\n', 'aunque ninguno lo entiende.\n', '\n']
--------words---------------
[6, 5, 0, 5, 5, 0, 6, 6, 6, 0, 6, 5, 4, 0]
54
----------characters------------
[23, 23, 0, 21, 20, 0, 25, 25, 25, 0, 24, 20, 24, 0]
230

In [155]:
f = open(path)
f.read(10) #10: size − the number of bytes to be read from the file.

'Sueña el r'

In [156]:
f2 = open(path, 'rb')  # Binary mode
f2.read(10)

b'Sue\xc3\xb1a el '

#### tell() : 
The read method advances the file handle’s position by the number of bytes read.
tell gives you the current position:

In [158]:
f.tell()

11

In [159]:
f2.tell()

10

Even though we read 10 characters from the file, the position is 11 because it took
that many bytes to decode 10 characters using the default encoding. You can check
the default encoding in the sys module:

In [160]:
import sys
sys.getdefaultencoding()

'utf-8'

In [183]:
#seek changes the file position to the indicated byte in the file:
f.seek(3)

3

In [184]:
f.read(2) #read 2 byte from seek(3) position.

'ña'

In [185]:
f.read(8) #read 8 byte from seek(3)+ f.read(2) position.

' el rico'

In [ ]:
f.close()
f2.close()

In [186]:
with open('tmp.txt', 'w') as handle:
    handle.writelines(x for x in open(path) if len(x) > 1) # x i line
with open('tmp.txt') as f:
    lines = f.readlines()
lines

['Sueña el rico en su riqueza,\n',
 'que más cuidados le ofrece;\n',
 'sueña el pobre que padece\n',
 'su miseria y su pobreza;\n',
 'sueña el que a medrar empieza,\n',
 'sueña el que afana y pretende,\n',
 'sueña el que agravia y ofende,\n',
 'y en el mundo, en conclusión,\n',
 'todos sueñan lo que son,\n',
 'aunque ninguno lo entiende.\n']

In [195]:
#same- def copy(file_name, new_file_name): 
with open(path, 'r') as file:   
    readfile = file.read()
with open('tmp.txt', 'w') as file:
    file.write(readfile)
with open('tmp.txt', 'r') as file:
    readfile = file.readlines()
#     readfile = file.read()
    
readfile

['Sueña el rico en su riqueza,\n',
 'que más cuidados le ofrece;\n',
 '\n',
 'sueña el pobre que padece\n',
 'su miseria y su pobreza;\n',
 '\n',
 'sueña el que a medrar empieza,\n',
 'sueña el que afana y pretende,\n',
 'sueña el que agravia y ofende,\n',
 '\n',
 'y en el mundo, en conclusión,\n',
 'todos sueñan lo que son,\n',
 'aunque ninguno lo entiende.\n',
 '\n']

In [196]:
import os
os.remove('tmp.txt')

### Bytes and Unicode with Files

In [197]:
with open(path) as f:
    chars = f.read(10)
chars

'Sueña el r'

In [198]:
with open(path, 'rb') as f:
    data = f.read(10)
data

b'Sue\xc3\xb1a el '

In [199]:
data.decode('utf8')
data[:4].decode('utf8')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xc3 in position 3: unexpected end of data

In [200]:
sink_path = 'sink.txt'
with open(path) as source:
    with open(sink_path, 'xt', encoding='iso-8859-1') as sink:
        sink.write(source.read())
with open(sink_path, encoding='iso-8859-1') as f:
    print(f.read(10))

Sueña el r

In [201]:
os.remove(sink_path)

In [202]:
f = open(path)
f.read(5)
f.seek(4)
f.read(1)
f.close()

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xb1 in position 0: invalid start byte

In [203]:
%popd

UsageError: %popd on empty stack

## Conclusion