In [2]:
import numpy as np
import pandas as pd
!cat examples/ex5.csv

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [3]:
sentinels = {'message': ['world', 'NA'], 'something': ['three']}
pd.read_csv('examples/ex5.csv', na_values=sentinels)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8     NaN
2       NaN  9  10  11.0  12     foo

In [4]:
frame2 = pd.DataFrame({'a': np.random.randn(100)})
frame2

           a
0   0.898810
1   0.617885
2   1.985777
3   1.739965
4  -1.823088
..       ...
95 -0.178797
96  0.745461
97  2.297953
98 -2.328321
99 -0.976407

[100 rows x 1 columns]

In [5]:
store2 = pd.HDFStore('mydata2.h5')
store2

<class 'pandas.io.pytables.HDFStore'>
File path: mydata2.h5

In [7]:
store2['obj2'] = frame2 #work like dict
store2

<class 'pandas.io.pytables.HDFStore'>
File path: mydata2.h5

In [8]:
store2['obj2']

           a
0   0.898810
1   0.617885
2   1.985777
3   1.739965
4  -1.823088
..       ...
95 -0.178797
96  0.745461
97  2.297953
98 -2.328321
99 -0.976407

[100 rows x 1 columns]

In [9]:
store2['obj2_col'] = frame2['a']
store2['obj2_col']

0     0.898810
1     0.617885
2     1.985777
3     1.739965
4    -1.823088
        ...
95   -0.178797
96    0.745461
97    2.297953
98   -2.328321
99   -0.976407
Name: a, Length: 100, dtype: float64