In [1]:
import numpy as np
import pandas as pd
PREVIOUS_MAX_ROWS = pd.options.display.max_rows
pd.options.display.max_rows = 20
np.random.seed(12345)
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(10, 6))
np.set_printoptions(precision=4, suppress=True)

In [6]:
from numpy import nan as NA
data = pd.DataFrame([[1., 6.5, 3.], [1., NA, NA],
                     [NA, NA, NA], [NA, 6.5, 3.]], index=(np.arange(1,5)), columns=list('abc'))
data

     a    b    c
1  1.0  6.5  3.0
2  1.0  NaN  NaN
3  NaN  NaN  NaN
4  NaN  6.5  3.0

In [16]:
df_ages = pd.DataFrame({'age': np.random.randint(1, 5, 50)}) #5not including
df_ages

    age
0     3
1     1
2     3
3     4
4     2
..  ...
45    1
46    2
47    2
48    3
49    1

[50 rows x 1 columns]

In [35]:
import collections
count = collections.Counter(df_ages['age'])
count

<class 'collections.Counter'>

Counter({3: 12, 1: 12, 4: 6, 2: 20})

In [32]:
count.keys()

dict_keys([3, 1, 4, 2])

In [33]:
count.values()

dict_values([12, 12, 6, 20])

In [34]:
count.items()

dict_items([(3, 12), (1, 12), (4, 6), (2, 20)])

In [17]:
df_ages['age'].value_counts() #Series.value_counts()

2    20
3    12
1    12
4     6
Name: age, dtype: int64