In [1]:
#$conda activate py37
#(py37)$ jupyter notebook

In [2]:
# %config IPCompleter.greedy=True

In [3]:
#press [SHIFT] and [TAB] from within the method parentheses

### intellisense - works perfect!! -> excute in command line windows. : (py37) $ -> works perfect !!
# (py37) $pip3 install jupyter-tabnine
# (py37) $sudo jupyter nbextension install --py jupyter_tabnine

# (py37) $jupyter nbextension enable jupyter_tabnine --py
##### jupyter nbextension enable --py jupyter_tabnine ##instead above line excuted. 

# (py37) $jupyter serverextension enable --py jupyter_tabnine

#--> I installed in (py37) conda env.

# Time Series

In [3]:
import numpy as np
import pandas as pd
np.random.seed(12345)
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(10, 6))
PREVIOUS_MAX_ROWS = pd.options.display.max_rows
pd.options.display.max_rows = 20
np.set_printoptions(precision=4, suppress=True)

## Date and Time Data Types and Tools

In [7]:
from datetime import datetime
now = datetime.now()
now

datetime.datetime(2020, 1, 21, 13, 11, 8, 422656)

In [8]:
now.year, now.month, now.day

(2020, 1, 21)

In [9]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
delta

datetime.timedelta(days=926, seconds=56700)

In [11]:
delta.days

926

In [12]:
delta.seconds

56700

In [13]:
from datetime import timedelta
start = datetime(2011, 1, 7)
start + timedelta(12)  #datetime.timedelta -> 12 day forward.

datetime.datetime(2011, 1, 19, 0, 0)

In [14]:
start - 2 * timedelta(12) #24 day back

datetime.datetime(2010, 12, 14, 0, 0)

### Converting Between String and Datetime
 %F : Shortcut for %Y-%m-%d (e.g., 2012-4-18 ),%D: Shortcut for %m/%d/%y (e.g., 04/18/12 )
* stamp.strftime('%Y-%m-%d')
* from dateutil.parser import parse : parse('2011-01-03')
* pd.to_datetime(datestrs)

In [27]:
# stamp = datetime(2020, 1, 14)
stamp = datetime(2020, 1, 14, 20, 15)
str(stamp)

'2020-01-14 20:15:00'

In [28]:
stamp.strftime('%Y-%m-%d') #%Y 4digit year

'2020-01-14'

In [29]:
stamp.strftime('%y-%m-%d-%H-%M-%S') #%y 2 digit year m: 2 digit month, M: minute, H:24hour, I: 12hour

'20-01-14-20-15-00'

In [30]:
stamp.strftime('%y-%m-%d-%I-%M-%S') #%y 2 digit year m: 2 digit month, M: minute, H:24hour, I: 12hour

'20-01-14-08-15-00'

time.strptime :convert strings to dates using date

In [31]:
value = '2011-01-03' #string
datetime.strptime(value, '%Y-%m-%d') #datetime : need to write format spec such as '%Y-%m-%d'

datetime.datetime(2011, 1, 3, 0, 0)

In [32]:
datestrs = ['7/6/2011', '8/6/2011']
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [34]:
#no need format spec such as '%Y-%m-%d', especially for common date formats.
from dateutil.parser import parse 
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [35]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [36]:
parse('6/12/2011', dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [37]:
datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [39]:
#handles values that should be considered missing ( None , empty string, etc.):
idx = pd.to_datetime(datestrs + [None])
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [41]:
idx[2]

NaT

In [42]:
pd.isnull(idx)

array([False, False,  True])

## Time Series Basics

In [43]:
from datetime import datetime
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
         datetime(2011, 1, 7), datetime(2011, 1, 8),
         datetime(2011, 1, 10), datetime(2011, 1, 12)]
ts = pd.Series(np.random.randn(6), index=dates)
ts

2011-01-02   -0.204708
2011-01-05    0.478943
2011-01-07   -0.519439
2011-01-08   -0.555730
2011-01-10    1.965781
2011-01-12    1.393406
dtype: float64

In [44]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [45]:
#index(1,3,5) : number + missing value -> NaN, index(0,2,4): number+number -> number
ts + ts[::2]

2011-01-02   -0.409415
2011-01-05         NaN
2011-01-07   -1.038877
2011-01-08         NaN
2011-01-10    3.931561
2011-01-12         NaN
dtype: float64

In [46]:
ts.index.dtype

dtype('<M8[ns]')

A Timestamp can be substituted anywhere you would use a datetime object. Addi‐
tionally, it can store frequency information (if any) and understands how to do time
zone conversions and other kinds of manipulations.

In [48]:
stamp = ts.index[0]
stamp

Timestamp('2011-01-02 00:00:00')

### Indexing, Selection, Subsetting
* Time series behaves like any other pandas.Series when you are indexing and selecting data based on label:

In [49]:
stamp = ts.index[2]
ts[stamp]

-0.5194387150567381

In [57]:
ts['1/10/2011']

1.9657805725027142

In [58]:
ts['20110110']

1.9657805725027142

pd.date_range

In [59]:
longer_ts = pd.Series(np.random.randn(1000),
                      index=pd.date_range('1/1/2000', periods=1000))
longer_ts

2000-01-01   -0.066748
2000-01-02    0.838639
2000-01-03   -0.117388
2000-01-04   -0.517795
2000-01-05   -0.116696
                ...
2002-09-22    1.510537
2002-09-23    0.533914
2002-09-24    1.093707
2002-09-25   -0.538650
2002-09-26    0.582380
Freq: D, Length: 1000, dtype: float64

* For longer time series, a **year** or only a **year and month** can be passed to easily select
slices of data:
* the string '2001' is interpreted as a year and selects that time period. This also
works if you specify the month:

In [60]:
longer_ts['2001']

2001-01-01   -0.299719
2001-01-02   -0.501940
2001-01-03    0.238768
2001-01-04    0.188189
2001-01-05   -1.118327
                ...
2001-12-27    0.500468
2001-12-28   -0.084207
2001-12-29   -0.145003
2001-12-30   -0.382199
2001-12-31    0.588151
Freq: D, Length: 365, dtype: float64

In [52]:
longer_ts['2001-05']

2001-05-01   -0.622547
2001-05-02    0.936289
2001-05-03    0.750018
2001-05-04   -0.056715
2001-05-05    2.300675
                ...
2001-05-27    0.235477
2001-05-28    0.111835
2001-05-29   -1.251504
2001-05-30   -2.949343
2001-05-31    0.634634
Freq: D, Length: 31, dtype: float64

In [53]:
# Slicing with datetime objects works as well:
ts[datetime(2011, 1, 7):]

2011-01-07   -0.519439
2011-01-08   -0.555730
2011-01-10    1.965781
2011-01-12    1.393406
dtype: float64

In [61]:
ts

2011-01-02   -0.204708
2011-01-05    0.478943
2011-01-07   -0.519439
2011-01-08   -0.555730
2011-01-10    1.965781
2011-01-12    1.393406
dtype: float64

In [62]:
#slice with timestamps not contained in a time series to perform a range query:
ts['1/6/2011':'1/11/2011']

2011-01-07   -0.519439
2011-01-08   -0.555730
2011-01-10    1.965781
dtype: float64

In [55]:
ts.truncate(after='1/9/2011')

2011-01-02   -0.204708
2011-01-05    0.478943
2011-01-07   -0.519439
2011-01-08   -0.555730
dtype: float64

``pd.date_range(start ='1-1-2018',  
         end ='1-05-2018', freq ='5H') 
pd.date_range(start ='1-1-2018', 
           end ='8-01-2018', freq ='M') 
pd.date_range(start ='1-1-2018',  
         end ='11-01-2018', freq ='3M')
pd.date_range(start ='1-1-2018', periods = 13) 
pd.date_range(start ='01-03-2017',  
            end ='1-1-2018', periods = 13) 
pd.date_range(start ='1-1-2018',  
       periods = 13, tz ='Asia / Tokyo') ``

In [87]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED') #wed only
# dates = pd.date_range('1/1/2000', periods=100, freq='M') #MonthEnd

print(len(dates))
dates

100

DatetimeIndex(['2000-01-05', '2000-01-12', '2000-01-19', '2000-01-26',
               '2000-02-02', '2000-02-09', '2000-02-16', '2000-02-23',
               '2000-03-01', '2000-03-08', '2000-03-15', '2000-03-22',
               '2000-03-29', '2000-04-05', '2000-04-12', '2000-04-19',
               '2000-04-26', '2000-05-03', '2000-05-10', '2000-05-17',
               '2000-05-24', '2000-05-31', '2000-06-07', '2000-06-14',
               '2000-06-21', '2000-06-28', '2000-07-05', '2000-07-12',
               '2000-07-19', '2000-07-26', '2000-08-02', '2000-08-09',
               '2000-08-16', '2000-08-23', '2000-08-30', '2000-09-06',
               '2000-09-13', '2000-09-20', '2000-09-27', '2000-10-04',
               '2000-10-11', '2000-10-18', '2000-10-25', '2000-11-01',
               '2000-11-08', '2000-11-15', '2000-11-22', '2000-11-29',
               '2000-12-06', '2000-12-13', '2000-12-20', '2000-12-27',
               '2001-01-03', '2001-01-10', '2001-01-17', '2001-01-24',
               '2001-01-31', '2001-02-07', '2001-02-14', '2001-02-21',
               '2001-02-28', '2001-03-07', '2001-03-14', '2001-03-21',
               '2001-03-28', '2001-04-04', '2001-04-11', '2001-04-18',
               '2001-04-25', '2001-05-02', '2001-05-09', '2001-05-16',
               '2001-05-23', '2001-05-30', '2001-06-06', '2001-06-13',
               '2001-06-20', '2001-06-27', '2001-07-04', '2001-07-11',
               '2001-07-18', '2001-07-25', '2001-08-01', '2001-08-08',
               '2001-08-15', '2001-08-22', '2001-08-29', '2001-09-05',
               '2001-09-12', '2001-09-19', '2001-09-26', '2001-10-03',
               '2001-10-10', '2001-10-17', '2001-10-24', '2001-10-31',
               '2001-11-07', '2001-11-14', '2001-11-21', '2001-11-28'],
              dtype='datetime64[ns]', freq='W-WED')

In [88]:
long_df = pd.DataFrame(np.random.randn(100, 4),
                       index=dates,
                       columns=['Colorado', 'Texas',
                                'New York', 'Ohio'])
print(long_df.shape)
long_df.head()

(100, 4)

            Colorado     Texas  New York      Ohio
2000-01-05  0.238845  0.792429 -0.114112  0.093365
2000-01-12  0.353590 -0.188516 -0.327954  0.020769
2000-01-19  0.173504  0.384222 -0.439126 -0.807093
2000-01-26 -0.362010  1.195585 -1.063373  2.174995
2000-02-02  1.334314  1.571595  0.303898 -0.366966

In [92]:
long_df.loc['5-2001'] #indexing on its rows:
# long_df.loc['2001-5'] #indexing on its rows:  same as above

            Colorado     Texas  New York      Ohio
2001-05-02  0.216050 -0.096805 -1.039774 -0.408442
2001-05-09  1.007064 -1.163720  1.369948 -1.124056
2001-05-16 -0.574512 -0.527668  0.603793 -1.175571
2001-05-23 -1.004064 -2.121482  0.853516  0.706529
2001-05-30 -0.004959 -0.987719  0.602271  0.342539

### Time Series with Duplicate Indices

In [90]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000',
                          '1/2/2000', '1/3/2000'])
dup_ts = pd.Series(np.arange(5), index=dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int64

In [93]:
dup_ts.index.is_unique

False

In [94]:
dup_ts['1/3/2000']  # not duplicated

4

In [95]:
dup_ts['1/2/2000']  # duplicated

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int64

In [96]:
grouped = dup_ts.groupby(level=0)
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int64

In [97]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

## Date Ranges, Frequencies, and Shifting

In [100]:
ts

2011-01-02   -0.204708
2011-01-05    0.478943
2011-01-07   -0.519439
2011-01-08   -0.555730
2011-01-10    1.965781
2011-01-12    1.393406
dtype: float64

resample('D'): sample time series to be fixed daily frequency

In [102]:
resampler = ts.resample('D') #DatetimeIndexResampler -> contiguous day with blank days
list(resampler)

[(Timestamp('2011-01-02 00:00:00', freq='D'), 2011-01-02   -0.204708
  dtype: float64),
 (Timestamp('2011-01-03 00:00:00', freq='D'), Series([], dtype: float64)),
 (Timestamp('2011-01-04 00:00:00', freq='D'), Series([], dtype: float64)),
 (Timestamp('2011-01-05 00:00:00', freq='D'), 2011-01-05    0.478943
  dtype: float64),
 (Timestamp('2011-01-06 00:00:00', freq='D'), Series([], dtype: float64)),
 (Timestamp('2011-01-07 00:00:00', freq='D'), 2011-01-07   -0.519439
  dtype: float64),
 (Timestamp('2011-01-08 00:00:00', freq='D'), 2011-01-08   -0.55573
  dtype: float64),
 (Timestamp('2011-01-09 00:00:00', freq='D'), Series([], dtype: float64)),
 (Timestamp('2011-01-10 00:00:00', freq='D'), 2011-01-10    1.965781
  dtype: float64),
 (Timestamp('2011-01-11 00:00:00', freq='D'), Series([], dtype: float64)),
 (Timestamp('2011-01-12 00:00:00', freq='D'), 2011-01-12    1.393406
  dtype: float64)]

### Generating Date Ranges

In [103]:
index = pd.date_range('2012-04-01', '2012-06-01')
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [104]:
pd.date_range(start='2012-04-01', periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [105]:
pd.date_range(end='2012-06-01', periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

#### BM: business end of month,M: month end, D: day, B:Biz Day, H: hour, T: minute

In [106]:
pd.date_range('2000-01-01', '2000-12-01', freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [107]:
pd.date_range('2012-05-02 12:56:31', periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [108]:
# generate a set of timestamps normalized to midnight as a convention.
pd.date_range('2012-05-02 12:56:31', periods=5, normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

### Frequencies and Date Offsets: 
* Frequencies: base frequency('M' for monthly or 'H' for hourly.) and a multiplier.
* ``from pandas.tseries.offsets import Hour, Minute, Day, MonthEnd``

In [109]:
from pandas.tseries.offsets import Hour, Minute
hour = Hour() #base frequency: hour
hour

In [110]:
four_hours = Hour(4) #offset is 4 hour
four_hours

never need to explicitly create one of these objects,
instead using a string alias like 'H' or '4H'

In [111]:
pd.date_range('2000-01-01', '2000-01-03 23:59', freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [112]:
# Many offsets can be combined together by addition:
Hour(2) + Minute(30)

In [113]:
pd.date_range('2000-01-01', periods=10, freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

#### Week of month dates

In [114]:
rng = pd.date_range('2012-01-01', '2012-09-01', freq='WOM-3FRI') #get dates like the third Friday of each month:
list(rng)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

### Shifting (Leading and Lagging) Data

In [115]:
ts = pd.Series(np.random.randn(4),
               index=pd.date_range('1/1/2000', periods=4, freq='M'))
ts

2000-01-31    0.244898
2000-02-29    0.345583
2000-03-31   -0.198577
2000-04-30   -1.090817
Freq: M, dtype: float64

In [116]:
ts.shift(2) #move forward two index

2000-01-31         NaN
2000-02-29         NaN
2000-03-31    0.244898
2000-04-30    0.345583
Freq: M, dtype: float64

In [118]:
ts.shift(-2)

2000-01-31   -0.198577
2000-02-29   -1.090817
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

shift is computing percent changes in a time series or multiple
time series as DataFrame columns.
* (ts - ts.shift(1)) / ts.shift(1)

In [121]:
# percent changes in a time series : (ts - ts.shift(1)) / ts.shift(1)
ts / ts.shift(1) - 1

2000-01-31         NaN
2000-02-29    0.411132
2000-03-31   -1.574614
2000-04-30    4.493169
Freq: M, dtype: float64

if the
frequency is known, it can be passed to shift to advance the timestamps instead of
simply the data:

In [125]:
ts

2000-01-31    0.244898
2000-02-29    0.345583
2000-03-31   -0.198577
2000-04-30   -1.090817
Freq: M, dtype: float64

In [122]:
ts.shift(2, freq='M') #index, datatime is sifted by 2 instead of value

2000-03-31    0.244898
2000-04-30    0.345583
2000-05-31   -0.198577
2000-06-30   -1.090817
Freq: M, dtype: float64

In [123]:
ts.shift(3, freq='D') # index sifted 3 days forward

2000-02-03    0.244898
2000-03-03    0.345583
2000-04-03   -0.198577
2000-05-03   -1.090817
dtype: float64

In [124]:
ts.shift(1, freq='90T') #T: minute, 90 minutes forward.(1h : 30min)

2000-01-31 01:30:00    0.244898
2000-02-29 01:30:00    0.345583
2000-03-31 01:30:00   -0.198577
2000-04-30 01:30:00   -1.090817
Freq: M, dtype: float64

#### Shifting dates with offsets

In [127]:
from pandas.tseries.offsets import Day, MonthEnd
now = datetime(2011, 11, 17)
now + 3 * Day()

Timestamp('2011-11-20 00:00:00')

In [128]:
now + MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [129]:
now + MonthEnd(2) # forward 2 moth end.

Timestamp('2011-12-31 00:00:00')

In [130]:
offset = MonthEnd()
offset.rollforward(now) #this month end

Timestamp('2011-11-30 00:00:00')

In [131]:
offset.rollback(now) #previous month end

Timestamp('2011-10-31 00:00:00')

In [134]:
ts = pd.Series(np.random.randn(20),
               index=pd.date_range('1/15/2000', periods=20, freq='4d'))
print(len(ts))
ts

20

2000-01-15   -0.729467
2000-01-19    0.174898
2000-01-23   -0.365943
2000-01-27    0.408945
2000-01-31    0.822936
2000-02-04   -1.013990
2000-02-08    0.168802
2000-02-12    0.197724
2000-02-16   -0.387227
2000-02-20   -0.491716
2000-02-24    0.317497
2000-02-28   -0.903296
2000-03-03    0.803907
2000-03-07   -1.003025
2000-03-11   -1.221921
2000-03-15   -1.301124
2000-03-19    0.488536
2000-03-23    0.305950
2000-03-27    1.068225
2000-03-31    0.874491
Freq: 4D, dtype: float64

In [133]:
ts.groupby(offset.rollforward).mean() #groupby(MonthEnd and this month -> this month end)

2000-01-31   -0.339865
2000-02-29    0.877337
2000-03-31   -0.375635
dtype: float64

In [135]:
# ts.resample('M') -> month end
ts.resample('M').mean() #same as above

2000-01-31    0.062274
2000-02-29   -0.301744
2000-03-31    0.001880
Freq: M, dtype: float64

## Time Zone Handling

In [142]:
datetime.now()

datetime.datetime(2020, 1, 21, 17, 4, 51, 883379)

In [136]:
import pytz
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [137]:
tz = pytz.timezone('America/New_York')
tz

In [140]:
 pytz.timezone('US/Pacific')

### Time Zone Localization and Conversion

In [146]:
rng = pd.date_range('3/9/2012 9:30', periods=6, freq='D')
rng

DatetimeIndex(['2012-03-09 09:30:00', '2012-03-10 09:30:00',
               '2012-03-11 09:30:00', '2012-03-12 09:30:00',
               '2012-03-13 09:30:00', '2012-03-14 09:30:00'],
              dtype='datetime64[ns]', freq='D')

In [147]:
ts = pd.Series(np.random.randn(len(rng)), index=rng) #len(rng):6
ts

2012-03-09 09:30:00    0.169193
2012-03-10 09:30:00    0.633593
2012-03-11 09:30:00   -1.197797
2012-03-12 09:30:00    0.377179
2012-03-13 09:30:00   -1.136791
2012-03-14 09:30:00   -0.248330
Freq: D, dtype: float64

In [148]:
print(ts.index.tz)

None

In [151]:
pd.date_range('3/9/2012 9:30', periods=10, freq='D')

DatetimeIndex(['2012-03-09 09:30:00', '2012-03-10 09:30:00',
               '2012-03-11 09:30:00', '2012-03-12 09:30:00',
               '2012-03-13 09:30:00', '2012-03-14 09:30:00',
               '2012-03-15 09:30:00', '2012-03-16 09:30:00',
               '2012-03-17 09:30:00', '2012-03-18 09:30:00'],
              dtype='datetime64[ns]', freq='D')

In [149]:
pd.date_range('3/9/2012 9:30', periods=10, freq='D', tz='UTC')

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [150]:
#test
pd.date_range('3/9/2012 9:30', periods=10, freq='D', tz='US/Pacific')

DatetimeIndex(['2012-03-09 09:30:00-08:00', '2012-03-10 09:30:00-08:00',
               '2012-03-11 09:30:00-07:00', '2012-03-12 09:30:00-07:00',
               '2012-03-13 09:30:00-07:00', '2012-03-14 09:30:00-07:00',
               '2012-03-15 09:30:00-07:00', '2012-03-16 09:30:00-07:00',
               '2012-03-17 09:30:00-07:00', '2012-03-18 09:30:00-07:00'],
              dtype='datetime64[ns, US/Pacific]', freq='D')

In [154]:
ts

2012-03-09 09:30:00    0.169193
2012-03-10 09:30:00    0.633593
2012-03-11 09:30:00   -1.197797
2012-03-12 09:30:00    0.377179
2012-03-13 09:30:00   -1.136791
2012-03-14 09:30:00   -0.248330
Freq: D, dtype: float64

In [152]:
ts_utc = ts.tz_localize('UTC')
ts_utc

2012-03-09 09:30:00+00:00    0.169193
2012-03-10 09:30:00+00:00    0.633593
2012-03-11 09:30:00+00:00   -1.197797
2012-03-12 09:30:00+00:00    0.377179
2012-03-13 09:30:00+00:00   -1.136791
2012-03-14 09:30:00+00:00   -0.248330
Freq: D, dtype: float64

In [153]:
ts_utc.index

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [155]:
ts_utc.tz_convert('America/New_York')

2012-03-09 04:30:00-05:00    0.169193
2012-03-10 04:30:00-05:00    0.633593
2012-03-11 05:30:00-04:00   -1.197797
2012-03-12 05:30:00-04:00    0.377179
2012-03-13 05:30:00-04:00   -1.136791
2012-03-14 05:30:00-04:00   -0.248330
Freq: D, dtype: float64

In [156]:
ts_eastern = ts.tz_localize('America/New_York')
ts_eastern.tz_convert('UTC')

2012-03-09 14:30:00+00:00    0.169193
2012-03-10 14:30:00+00:00    0.633593
2012-03-11 13:30:00+00:00   -1.197797
2012-03-12 13:30:00+00:00    0.377179
2012-03-13 13:30:00+00:00   -1.136791
2012-03-14 13:30:00+00:00   -0.248330
Freq: D, dtype: float64

In [157]:
ts_eastern.tz_convert('Europe/Berlin')

2012-03-09 15:30:00+01:00    0.169193
2012-03-10 15:30:00+01:00    0.633593
2012-03-11 14:30:00+01:00   -1.197797
2012-03-12 14:30:00+01:00    0.377179
2012-03-13 14:30:00+01:00   -1.136791
2012-03-14 14:30:00+01:00   -0.248330
Freq: D, dtype: float64

In [160]:
print(type(ts.index))
ts.index.tz_localize('Asia/Shanghai')

<class 'pandas.core.indexes.datetimes.DatetimeIndex'>

DatetimeIndex(['2012-03-09 09:30:00+08:00', '2012-03-10 09:30:00+08:00',
               '2012-03-11 09:30:00+08:00', '2012-03-12 09:30:00+08:00',
               '2012-03-13 09:30:00+08:00', '2012-03-14 09:30:00+08:00'],
              dtype='datetime64[ns, Asia/Shanghai]', freq='D')

### Operations with Time Zone−Aware Timestamp Objects

In [162]:
stamp = pd.Timestamp('2011-03-12 04:00')
stamp

Timestamp('2011-03-12 04:00:00')

In [164]:
stamp_utc = stamp.tz_localize('utc')
stamp_utc

Timestamp('2011-03-12 04:00:00+0000', tz='UTC')

In [165]:
stamp_utc.tz_convert('America/New_York')

Timestamp('2011-03-11 23:00:00-0500', tz='America/New_York')

In [166]:
stamp_moscow = pd.Timestamp('2011-03-12 04:00', tz='Europe/Moscow')
stamp_moscow

Timestamp('2011-03-12 04:00:00+0300', tz='Europe/Moscow')

In [167]:
stamp_utc.value
stamp_utc.tz_convert('America/New_York').value

1299902400000000000

In [168]:
from pandas.tseries.offsets import Hour
stamp = pd.Timestamp('2012-03-12 01:30', tz='US/Eastern')
stamp

Timestamp('2012-03-12 01:30:00-0400', tz='US/Eastern')

In [170]:
stamp + Hour()

Timestamp('2012-03-12 02:30:00-0400', tz='US/Eastern')

In [171]:
stamp = pd.Timestamp('2012-11-04 00:30', tz='US/Eastern')
stamp

Timestamp('2012-11-04 00:30:00-0400', tz='US/Eastern')

In [172]:
stamp + 2 * Hour()

Timestamp('2012-11-04 01:30:00-0500', tz='US/Eastern')

### Operations Between Different Time Zones -> Result in UTC.

In [173]:
#BM: business end of month,M: month end, D: day, B:Biz Day, H: hour, T: minute
rng = pd.date_range('3/7/2012 9:30', periods=10, freq='B')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

2012-03-07 09:30:00    1.094550
2012-03-08 09:30:00    1.447049
2012-03-09 09:30:00   -0.287916
2012-03-12 09:30:00   -1.057946
2012-03-13 09:30:00   -1.696698
2012-03-14 09:30:00    0.637814
2012-03-15 09:30:00   -0.716569
2012-03-16 09:30:00    0.033701
2012-03-19 09:30:00    2.019610
2012-03-20 09:30:00    0.859043
Freq: B, dtype: float64

In [177]:
ts1 = ts[:7].tz_localize('Europe/London')
ts1

2012-03-07 09:30:00+00:00    1.094550
2012-03-08 09:30:00+00:00    1.447049
2012-03-09 09:30:00+00:00   -0.287916
2012-03-12 09:30:00+00:00   -1.057946
2012-03-13 09:30:00+00:00   -1.696698
2012-03-14 09:30:00+00:00    0.637814
2012-03-15 09:30:00+00:00   -0.716569
Freq: B, dtype: float64

In [178]:
ts2 = ts1[2:].tz_convert('Europe/Moscow')
ts2

2012-03-09 13:30:00+04:00   -0.287916
2012-03-12 13:30:00+04:00   -1.057946
2012-03-13 13:30:00+04:00   -1.696698
2012-03-14 13:30:00+04:00    0.637814
2012-03-15 13:30:00+04:00   -0.716569
Freq: B, dtype: float64

In [181]:
result = ts1 + ts2
result

2012-03-07 09:30:00+00:00         NaN
2012-03-08 09:30:00+00:00         NaN
2012-03-09 09:30:00+00:00   -0.575833
2012-03-12 09:30:00+00:00   -2.115892
2012-03-13 09:30:00+00:00   -3.393397
2012-03-14 09:30:00+00:00    1.275628
2012-03-15 09:30:00+00:00   -1.433137
Freq: B, dtype: float64

In [182]:
result.index

DatetimeIndex(['2012-03-07 09:30:00+00:00', '2012-03-08 09:30:00+00:00',
               '2012-03-09 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='B')

## Periods and Period Arithmetic
* Periods represent timespans, like days, months, quarters, or years
    * pd.Period(2007, freq='A-DEC'): full timespan from January 1, 2007, to December 31, 2007, inclusive.
    * pd.Period('2014', freq='A-DEC')

In [180]:
p = pd.Period(2007, freq='A-DEC')#A-JAN, A-FEB...YearEnd(Annual dates anchored on last calendar day of given month)
p

Period('2007', 'A-DEC')

In [183]:
p + 5 #full timespan from January 1, 2012, to December 31, 2007, inclusive.

Period('2012', 'A-DEC')

In [184]:
p - 2

Period('2005', 'A-DEC')

In [185]:
# If two periods have the same frequency, their difference is the number of units
# between them:
pd.Period('2014', freq='A-DEC') - p

pd.period_range(): Regular ranges of periods

In [186]:
rng = pd.period_range('2000-01-01', '2000-06-30', freq='M')
rng

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='period[M]', freq='M')

In [187]:
pd.Series(np.random.randn(6), index=rng)

2000-01   -0.754897
2000-02    0.645473
2000-03    1.092381
2000-04   -0.605414
2000-05   -2.525358
2000-06   -1.031364
Freq: M, dtype: float64

In [189]:
# Quarterly dates anchored on last calendar day of each month, for year ending in indicated month
values = ['2001Q3', '2002Q2', '2003Q1']
index = pd.PeriodIndex(values, freq='Q-DEC')#Q-JAN, Q-FEB, ...QuarterEnd
index

PeriodIndex(['2001Q3', '2002Q2', '2003Q1'], dtype='period[Q-DEC]', freq='Q-DEC')

### Period Frequency Conversion
* Periods and PeriodIndex objects can be converted to another frequency with their
asfreq method.

In [191]:
p = pd.Period('2007', freq='A-DEC')
p

Period('2007', 'A-DEC')

In [194]:
p.asfreq('M', how='start')

Period('2006-07', 'M')

In [195]:
p.asfreq('M', how='end')

Period('2007-06', 'M')

In [196]:
p = pd.Period('2007', freq='A-JUN')
p

Period('2007', 'A-JUN')

In [198]:
p.asfreq('M', 'start')

Period('2006-07', 'M')

In [199]:
p.asfreq('M', 'end')

Period('2007-06', 'M')

In [ ]:
p = pd.Period('Aug-2007', 'M')
p.asfreq('A-JUN')

In [200]:
rng = pd.period_range('2006', '2009', freq='A-DEC')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

2006    0.417996
2007   -0.993692
2008    0.885329
2009    1.054891
Freq: A-DEC, dtype: float64

In [201]:
ts.asfreq('M', how='start')

2006-01    0.417996
2007-01   -0.993692
2008-01    0.885329
2009-01    1.054891
Freq: M, dtype: float64

In [202]:
ts.asfreq('B', how='end')

2006-12-29    0.417996
2007-12-31   -0.993692
2008-12-31    0.885329
2009-12-31    1.054891
Freq: B, dtype: float64

### Quarterly Period Frequencies

In [ ]:
p = pd.Period('2012Q4', freq='Q-JAN')
p

In [ ]:
p.asfreq('D', 'start')
p.asfreq('D', 'end')

In [ ]:
p4pm = (p.asfreq('B', 'e') - 1).asfreq('T', 's') + 16 * 60
p4pm
p4pm.to_timestamp()

In [ ]:
rng = pd.period_range('2011Q3', '2012Q4', freq='Q-JAN')
ts = pd.Series(np.arange(len(rng)), index=rng)
ts
new_rng = (rng.asfreq('B', 'e') - 1).asfreq('T', 's') + 16 * 60
ts.index = new_rng.to_timestamp()
ts

### Converting Timestamps to Periods (and Back)

In [ ]:
rng = pd.date_range('2000-01-01', periods=3, freq='M')
ts = pd.Series(np.random.randn(3), index=rng)
ts
pts = ts.to_period()
pts

In [ ]:
rng = pd.date_range('1/29/2000', periods=6, freq='D')
ts2 = pd.Series(np.random.randn(6), index=rng)
ts2
ts2.to_period('M')

In [ ]:
pts = ts2.to_period()
pts
pts.to_timestamp(how='end')

### Creating a PeriodIndex from Arrays

In [ ]:
data = pd.read_csv('examples/macrodata.csv')
data.head(5)
data.year
data.quarter

In [ ]:
index = pd.PeriodIndex(year=data.year, quarter=data.quarter,
                       freq='Q-DEC')
index
data.index = index
data.infl

## Resampling and Frequency Conversion

In [ ]:
rng = pd.date_range('2000-01-01', periods=100, freq='D')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts
ts.resample('M').mean()
ts.resample('M', kind='period').mean()

### Downsampling

In [ ]:
rng = pd.date_range('2000-01-01', periods=12, freq='T')
ts = pd.Series(np.arange(12), index=rng)
ts

In [ ]:
ts.resample('5min', closed='right').sum()

In [ ]:
ts.resample('5min', closed='right').sum()

In [ ]:
ts.resample('5min', closed='right', label='right').sum()

In [ ]:
ts.resample('5min', closed='right',
            label='right', loffset='-1s').sum()

#### Open-High-Low-Close (OHLC) resampling

In [ ]:
ts.resample('5min').ohlc()

### Upsampling and Interpolation

In [ ]:
frame = pd.DataFrame(np.random.randn(2, 4),
                     index=pd.date_range('1/1/2000', periods=2,
                                         freq='W-WED'),
                     columns=['Colorado', 'Texas', 'New York', 'Ohio'])
frame

In [ ]:
df_daily = frame.resample('D').asfreq()
df_daily

In [ ]:
frame.resample('D').ffill()

In [ ]:
frame.resample('D').ffill(limit=2)

In [ ]:
frame.resample('W-THU').ffill()

### Resampling with Periods

In [ ]:
frame = pd.DataFrame(np.random.randn(24, 4),
                     index=pd.period_range('1-2000', '12-2001',
                                           freq='M'),
                     columns=['Colorado', 'Texas', 'New York', 'Ohio'])
frame[:5]
annual_frame = frame.resample('A-DEC').mean()
annual_frame

In [ ]:
# Q-DEC: Quarterly, year ending in December
annual_frame.resample('Q-DEC').ffill()
annual_frame.resample('Q-DEC', convention='end').ffill()

In [ ]:
annual_frame.resample('Q-MAR').ffill()

## Moving Window Functions

In [ ]:
close_px_all = pd.read_csv('examples/stock_px_2.csv',
                           parse_dates=True, index_col=0)
close_px = close_px_all[['AAPL', 'MSFT', 'XOM']]
close_px = close_px.resample('B').ffill()

In [ ]:
close_px.AAPL.plot()
close_px.AAPL.rolling(250).mean().plot()

In [ ]:
plt.figure()

In [ ]:
appl_std250 = close_px.AAPL.rolling(250, min_periods=10).std()
appl_std250[5:12]
appl_std250.plot()

In [ ]:
expanding_mean = appl_std250.expanding().mean()

In [ ]:
plt.figure()

In [ ]:
close_px.rolling(60).mean().plot(logy=True)

In [ ]:
close_px.rolling('20D').mean()

### Exponentially Weighted Functions

In [ ]:
plt.figure()

In [ ]:
aapl_px = close_px.AAPL['2006':'2007']
ma60 = aapl_px.rolling(30, min_periods=20).mean()
ewma60 = aapl_px.ewm(span=30).mean()
ma60.plot(style='k--', label='Simple MA')
ewma60.plot(style='k-', label='EW MA')
plt.legend()

### Binary Moving Window Functions

In [ ]:
plt.figure()

In [ ]:
spx_px = close_px_all['SPX']
spx_rets = spx_px.pct_change()
returns = close_px.pct_change()

In [ ]:
corr = returns.AAPL.rolling(125, min_periods=100).corr(spx_rets)
corr.plot()

In [ ]:
plt.figure()

In [ ]:
corr = returns.rolling(125, min_periods=100).corr(spx_rets)
corr.plot()

### User-Defined Moving Window Functions

In [ ]:
plt.figure()

In [ ]:
from scipy.stats import percentileofscore
score_at_2percent = lambda x: percentileofscore(x, 0.02)
result = returns.AAPL.rolling(250).apply(score_at_2percent)
result.plot()

In [ ]:
pd.options.display.max_rows = PREVIOUS_MAX_ROWS

## Conclusion